<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.vpn">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:name="com.example.App"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:targetApi="31" >
        <activity android:name=".StartActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            />
        <activity android:name=".ReportActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            />
        <activity android:name=".LocationActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            />
        <activity android:name=".HistoryActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            />
        <activity android:name=".ServerActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            />
        <activity android:name=".PrivacyActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            />
        <activity android:name=".AboutActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            />
        <receiver android:name="com.example.TestWidgetProvider"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.appwidget.action.APPWIDGET_DELETED" />
                <action android:name="android.appwidget.action.APPWIDGET_DISABLED" />
                <action android:name="android.appwidget.action.APPWIDGET_ENABLED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/test_widget" />
        </receiver>
    </application>

</manifest>